
.page {

    &__contact {
        background: linear-gradient(to right, #FBFBFB 50%, #70BD59 50%);
    }
}
.contact {

    &__content {
        display: flex;
        justify-content: space-between;
    }

    &__block {
        max-width: 280px;
        padding: 50px 0 50px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    &__image {
    }

    &__title {
        margin-top: 20px;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 36px;
        /* identical to box height */
        letter-spacing: 2.66667px;

        color: #373737;
    }

    &__text {
        margin-top: 22px;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 19px;
        /* identical to box height */
        letter-spacing: 1.55556px;

        color: #373737;

        mix-blend-mode: normal;
        opacity: 0.8;
    }

    &__link  {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        //right: 20%;
        //transform: translate(-50%,-50%);
        width: 80px;
        height: 60px;
        cursor: pointer;
    
    }
   
    &__arrow{
        position: absolute;
        top: 35px;
        width: 40%;
        height: 2.5px;
        background-color: rgb(126, 126, 126);
        box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
        animation: arrow 700ms linear infinite;
    }

    
    &__arrow::after, &__arrow::before {
    content: '';
    position: absolute;
    width: 40%;
    height: 2.5px;
    right: -4px;
    background-color: rgb(136, 136, 136);
  }
  
  &__arrow::after {
    top: -4px;
    transform: rotate(45deg);
  }
  
  &__arrow::before {
    top: 4px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
    transform: rotate(-45deg);
  }
}
.container {
}
