@use "sass:math";

.page {

		&__latestworks {
            @media (min-width: $md2){
                margin: 10px 0px 10px 0px;
            }
		}
}
.latestworks {

		&__blocks{
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            flex: 0 1 50%;
            margin: 0px 10px;
        }
		
}
.block {

		&__content {
            display: flex;
            flex-direction: column;
            @media (min-width: $md2){
                display: flex;
                flex-direction: row;
            }
		}
}

.blocks-photo {
        padding: 15px 0px;
        justify-content: center;
        align-items: flex-start;
        align-content: flex-start;
    @media (min-width: $md3){
        flex-wrap: wrap;
    }
		&__item {
            display: flex;
            flex-direction: column;
            @media (min-width: $md3){
                display: flex;
                flex-direction: column;
                justify-content: center;
                flex: 1 1 100%;
               }
               // background-color: #e61b1b;
        }
            &__title {
                display: inline-flex;
                padding-top: 20px;
                
            }

            &__block{
                position: relative;

            }

            &__list {
                margin: 0 auto;
                margin-bottom: 15px;
                @media (min-width: $md3){
                    display: flex;
                    flex-wrap: nowrap;
                    margin: 40px 0px 160px 0px;
                }
            }

            &__list li{
                display: inherit;
                flex: 0 1 50%;
                justify-content: flex-start;
                align-items: center;
                margin: 10px 0px 0px 0px;
                white-space: nowrap;
                &:not(:last-child){
                    padding: 0px 10px 0 0;
                }
                @media (min-width: $md2){
                    
                    &:not(:last-child){
                        padding: 0px 40px 0 0;
                    }
                }
                    a{
                    text-decoration: none;
                    font-family: 'Open Sans';
                    font-style: normal;
                    font-weight: normal;
                    font-size: 13px;
                    line-height: math.div(18,13) * 100%;
                    /* identical to box height */
                    letter-spacing: 0.832px;

                    color: #252525;
                    opacity: 0.3;
                    @media (max-width: $md3){
                        display: flex;
                        text-align: center;
                        justify-content: center;
                        align-items: center;
                    }
                        &:hover{
                                font-size: 13px;
                                line-height: math.div(18,13) * 100%;
                                /* identical to box height */
                                letter-spacing: 0.832px;
                                color: #252525;
                                opacity: 1;
                                }
                    }
                }
            &__sub{
               
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                max-width: 455px;
            }
            &__title{
                padding-top: 20px;
                max-width: 270px;
                font-family: 'Open Sans';
                font-style: normal;
                font-weight: 300;
                font-size: 13px;
                line-height: math.div(23, 13)*100%;
                /* or 177% */
                letter-spacing: 0.832px;
                color: #C2C2C2;
               }
            &__image {
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
            }
            &__image img {
            }
            &__name {
               // position: absolute;
                top:65%;
                right: 0;
                max-width: 402px;
                margin: 100px 0;
            }

            &__text {
                
            }
            &__art{
                @media (max-width: $md3){
                    
                }
                //margin: 50px 0 0 0 ;
            }

            &__more {
                
               // padding-top: 28px;
            }
    }

// .item-1  .blocks-photo__image {
//     margin-top: 100px;
// }
// .item-2  .blocks-photo__image {
//     margin-top: 130px;
// }
// .item-3  .blocks-photo__image {
//     justify-content:flex-end;
//     h2{
//         left: 0;
//     }
// }
// .item-4  .blocks-photo__image {
//     justify-content:flex-end;
// }
// .item-2  .blocks-photo__name {
//     top:40%;
// }

// .item-3  .blocks-photo__name {
//     top:40%;
//     left: 0;
// }
// .item-4  .blocks-photo__name {
//     top:40%;
//     left: 0;
//     max-width: 410px;
// }


// .item-1 .blocks-photo__sub {

//     align-items: flex-end;

//     div{
//         max-width: 366px;
//         text-align: right;
//     }
// }
// .item-2 .blocks-photo__sub {
 
//     align-items: flex-end;
//     div{
//         max-width: 366px;
//         text-align: right;
//     }
// }

// .item-3 .blocks-photo__sub {
 
//     align-items: flex-end;
//     div{
//         max-width: 366px;
//         text-align: right;
//     }
// }
// .item-4 .blocks-photo__sub {

//     align-items: flex-end;
//     div{
//         max-width: 366px;
//         text-align: right;
//     }
// }

// .item-5  .blocks-photo__sub{
//     height: 100%;
//     justify-content: flex-end;
//     align-content: flex-end;
//     align-items: flex-end;
// }
